.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #260E0B;
    display: flex;
    color: #F2A71B;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.copy {
    text-align: center;
}

.source {
    padding-right: 3vh;
    width: 10rem;
}

.tos {
    padding-left: 3vh;
    width: 10rem;
}