.public {
    color: hsl(35, 95%, 25%);
    /* grid-column: 1 / -10; */
    grid-column: span 2;
}

.discord {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}

.featured {
    color: hsl(234, 82%, 54%);
    /* grid-column: -9 / -6; */
    /* grid-column: span 2; */
}

.community {
    color: hsl(35, 95%, 25%);
    /* grid-column: -1; */
    /* grid-column: -5 / -1; */
    /* grid-column: span 2; */
}

.grid {
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    display: grid;
    /* grid-auto-flow: column; */
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    /* grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); */
    grid-template-rows: repeat(auto-fit, 100px);
    align-items: start;
    grid-template-rows: auto;
    grid-gap: 1rem;
    grid-auto-flow: dense;
}

.gameGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1rem;
    grid-auto-flow: dense;
}

.title {
    padding-bottom: 2.5rem;
    text-align: center;
}

.featuredGame {
    background: linear-gradient(0deg, hsl(41, 45%, 93%), hsl(47, 43%, 96%));
    color: hsl(231, 97%, 15%);
    padding: 0.5rem;
    border-color: hsl(227, 67%, 76%);
    border-radius: 12px;
    border-width: 2px;
    border-style: solid;
}

.featuredGame:hover {
    background: linear-gradient(0deg, hsl(41, 44%, 95%), hsl(47, 40%, 98%));
    border-color: hsl(223, 63%, 80%);
}

.gameCard {
    background: linear-gradient(0deg, hsl(41, 46%, 91%), hsl(47, 44%, 94%));
    color: hsl(29, 95%, 12%);
    padding: 0.5rem;
    border-color: #F2A71B;
    border-radius: 12px;
    border-width: 2px;
    border-style: solid;
}

.gameCard:hover {
    border-color: #f7c76e;
    background: linear-gradient(0deg, hsl(41, 45%, 93%), hsl(47, 43%, 96%));
}

.gameName {
    font-size: 1.5rem;
    text-align: center;
}

.featuredName {
    font-size: 2.5rem;
    text-align: center;
}

.quick {
    margin-top: 1rem;
}

.quickHeader {
    color: #F2A71B;
    font-size: 2rem;
}

.quickBot {
    color: #F2A71B;
    font-size: 2rem;
    height: auto !important;
}

.quickHuman {
    color: #F2A71B;
    font-size: 2rem;
    height: auto !important;
}