.header {
    background-color: #260E0B;
    display: flex;
    color: #F2A71B;
    justify-content: space-between;
    align-items: center;
}

.headerLogo {
    font-weight: 200;
    text-transform: uppercase;
    font-size: 3vh;
    padding-left: 3vh;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    letter-spacing: 0.5em;
}

.rightContent {
    padding-right: 3vh;
}