.content {
    background-color: #F2EBDC;
    color: #F2A71B;
}

.contentInner {
    columns: 2 30rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 5vw;
    padding-right: 5vw;
    line-height: 2rem;
    color: #260E0B;
}

.wrapper {
    position: relative;
    top: 35%;
}

.title {
    font-weight: 200;
    text-transform: uppercase;
    font-size: calc(4vw + 2vh);
    color: #F2A71B;
    position: relative;
    padding-left: 0.5em;
    letter-spacing: 0.5em;
    text-shadow: 0 0 4px #260E0B;
}

.contentTitle {
    padding-top: 3rem;
    text-align: center;
}

.play {
    font-weight: 200;
    background-color: transparent;
    border-color: #F2A71B !important;
    border-radius: 12px;
    border-width: 2px;
    border-style: solid;
    text-transform: uppercase;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 3rem;
    font-size: calc(3vw + 2vh);
    color: #F2A71B !important;
    height: 1.7em !important;
    position: relative;
    box-shadow: 0 0 4px #260E0B;
    text-shadow: 0 0 4px #260E0B;
    transition-duration: 0.45s, 0.45s;
}

.play:hover {
    color: #f7c76e;
    border-color: #f7c76e;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 6px rgba(39, 89, 93, 0.75);
    text-shadow: 0 0 2px #f7c76e
}

.play:focus {
    color: #f7c76e;
    border-color: #f7c76e;
    text-shadow: 0 0 2px #f7c76e;
}